<div class="reglamentos__container">
    <h2 class="title">Reglamentos</h2>
    <div class="cards">
        <div class="card">
            <h3>Titulo del reglamento</h3>
            <p>
                Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quasi rerum repellat nisi aut, provident repellendus commodi ad suscipit sequi quibusdam quos beatae, eaque dolorum. Illum officiis itaque molestiae quaerat!
            </p>
            <small>30/12/2024</small>
        </div>
        <div class="card">
            <h3>Titulo del reglamento</h3>
            <p>
                Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quasi rerum repellat nisi aut, provident repellendus commodi ad suscipit sequi quibusdam quos beatae, eaque dolorum. Illum officiis itaque molestiae quaerat!
            </p>
            <small>30/12/2024</small>
        </div>
        <div class="card">
            <h3>Titulo del reglamento</h3>
            <p>
                Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quasi rerum repellat nisi aut, provident repellendus commodi ad suscipit sequi quibusdam quos beatae, eaque dolorum. Illum officiis itaque molestiae quaerat!
            </p>
            <small>30/12/2024</small>
        </div>
    </div>
</div>