<div class="consumo__container">
    <h3 class="title">Consumo</h3>

    <div class="circle__progress">
        <circle-progress 
            [value]="value"
            [maxValue]="maxValue"
            [diaConsumo]="diaConsumo"/>
    </div>

    <div class="data__container">
        <div class="data">
            <i class="ri-contrast-drop-2-line consumo"></i>
            <span>Consumo: {{ value | number }} litros </span>
        </div>
        <div class="data">
            <i class="ri-error-warning-line limite"></i>
            <span>Limite: {{ maxValue | number }} litros  </span>
        </div>
        <div class="data">
            <i class="ri-money-dollar-circle-line"></i>
            <span>A pagar {{ cuenta | number }} Gs </span>
        </div>
    </div>
    <button 
        class="btn"
        (click)="openModal()">
        Ver Factura
        <i class="ri-file-list-line"></i>
    </button>
</div>

@if (modal) {
    <div class="modal__container">
        <app-modal 
            titleModal=""
            (closeModal)="closeModal($event)"
            class="modal">
            <div class="factura">
                <app-factura 
                    [factura]="factura"
                    [facturasPendientes]="facturaPendientes"/>
            </div>
        </app-modal>
    </div>
}