<form 
    class="form__container"
    (ngSubmit)="onSubmit()"
    [formGroup]="form">
    <h2 class="form__title">
        {{ titleForm() }}
    </h2>

    <div class="input__group">
        @for (input of inputItem(); track $index) {
            <div 
                class="input__item"
                [ngClass]="input.class">
                <label>{{  input.label }}</label>
                <input 
                    [type]="input.type"
                    [formControlName]="input.name">
            </div>
            @if(form.get(input.name)?.invalid && form.get(input.name)?.touched){
                <span class="input__error">
                    Este campo es obligatorio.
                </span>
            }   
        }
    </div>

    <button 
        class="btn__submit"
        type="submit">
        Enviar
    </button>

</form>