<div class="container">
    <div class="header">
        @if (!hiddeTitle()) {
            <h2 class="title">{{ headerTitle() | titlecase }}</h2>
        }
        @if(!btnFiltrar()){
            <div class="filtrar">
                <select (change)="onYearChange($event)">
                    @for (year of years(); track year) {
                      <option [value]="year">{{ year }}</option>
                    }
                  </select>
            </div>
        }
    </div>

    <div class="chart">
        <canvas #doughnutChart></canvas>
    </div>
    
</div>