$black: #5C5C5C;
$white: #FFFFFF;
$white-gray: #DADEF9;
$gray: #979696;

.container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 14px;
            font-weight: 600;
            color: $gray;
        }

        .filtrar {
            padding: 10px;
            background-color: $white;
            border-radius: 10px;
            transition: opacity .3s ease-in-out;
            cursor: pointer;
            box-shadow: 0 10px 15px rgba(115, 136, 255, 0.1);
            border: 1px solid  $white-gray;

            &:hover {
                opacity: .7;
                transition: opacity .3s ease-in-out;
            }

            select {
                border: none;
                outline: none;
                background-color: transparent;
                color: $gray;
                cursor: pointer;
                
                option {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }

    .chart {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        canvas {
            width: 300px !important;
            height: 300px !important;
        }
    
        
    }

    
}

@media(max-width:1350px) {
    .container {
        padding: 10px 0;
        
        .data {
            margin-top: 0;

            .card span {
                font-size: 16px;
            }
        }
    }
}

@media(max-width:1020px) {
    .container {

        canvas {
            width: 200px !important;
            height: 200px !important;
        }
        
        .data {
            margin-top: 0;

            .card span {
                font-size: 14px;
            }
        }
    }
}