<div class="container">
    <canvas #doughnutChart></canvas>

    <div class="data">
        <div class="card">
            <div class="title">
                <span class="indicador"></span>
                <h2>Ingreso</h2>
                <p>Septiembre 2024</p>
            </div>
            <span class="date">
                1.500.000 GS
            </span>
        </div>

        <div class="card egreso">
            <div class="title">
                <span class="indicador"></span>
                <h2>Egreso</h2>
                <p>Septiembre 2024</p>
            </div>
            <span class="date">
                500.000 GS
            </span>
        </div>
    </div>
</div>