<div class="nav__superior">
    <ul class="menu">
        <li>Administración</li>
        <li class="active">{{ itemName() | titlecase }}</li>
    </ul>
    <!-- Usuario administrador -->
    <div class="usuario">
        <div class="datos">
            <h3>{{ userName() | titlecase }}</h3>
            <span>{{ userGmail() }}</span>
        </div>
        <div class="avatar__border">
            <div class="avatar__container">
                <div class="indicador"></div>
                <img class="avatar__image" [src]="avatarUrl()" alt="avatar">
            </div>
        </div>
    </div>
</div>