$color-blue: rgba(4, 100, 243, .75);
$color-black: #5C5C5C;
$color-gray: #979696;
$color-magenta: #FD10D7;
$color-green: #00D4A2;
$color-gray-light: #EDEFFF;
$box-shadow-blue: rgba(4, 33, 185, .10);

.nav__superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    color: $color-black;

    .menu {
        list-style: none;
        display: flex;
        column-gap: 20px;
        font-size: 14px;
        font-weight: 400;


        .active {
            color: $color-blue;
            font-weight: 600;
        }
    }

    .usuario {
        display: flex;
        column-gap: 10px;
        text-align: end;
        align-items: center;

        .datos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 14px;
                font-weight: 500;
            }
        } 

        .datos > span {
            position: relative;
            top: -3px;
            font-size: 10px;
            font-weight: 300;
        }

        .avatar__border {
            width: 62px;
            height: 62px;
            background-image: linear-gradient(150deg, $color-magenta, $color-blue 100%);
            padding: 3px;
            border-radius: 50%;
            box-shadow: 4px 4px 10px $box-shadow-blue;

            .avatar__container {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $color-gray-light;

                .indicador {
                    position: absolute;
                    top: 3px;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-green;
                    border: 2px solid $color-gray-light;
                    z-index: 3;
                }

                .avatar__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
        }
    }
}

@media(max-width: 720px) {

    .nav__superior {
        border: 1px solid;
        justify-content: end;

        .menu {
            display: none;
        }

        .usuario .datos h3 {
            font-size: 12px;
        }
    }

}