<div class="message__container">
    <h2 class="title">
        Avisos
    </h2>
    @if (user()) {
        <div class="avatar__container">
            <div class="avatar__border">
                <div class="avatar__img">
                    <img [src]="user().imagen" [alt]="user().name">
                </div>
            </div>
            <div class="avatar__data">
                <h3 class="name">{{ user().name + ' ' + user().lastname }}</h3>
                <span class="address">{{ user().address }}</span>
            </div>
        </div>
        <ul class="message__group">
            @for (msg of messages(); track $index) {
                <li class="message__list">
                    <p>
                        {{ msg.message }}
                    </p>
                    <span>
                        {{ msg.date | date:'dd-MM-yyy' }}
                    </span>
                </li>
            }
        </ul>
        <div class="message__send">
            <input type="text" placeholder="Responder...">
            <button class="btn__send">
                <i class="ri-send-plane-2-line"></i>
            </button>
        </div>
    }
</div>