<div class="home__container">
    <menu-superior 
        itemName="inicio"
        userName="Jorge Fernández"
        userGmail="jorge@gmail.com"
        avatarUrl="https://res.cloudinary.com/die4hw70e/image/upload/v1728483693/samu-img/user_avatar_sirmyv.jpg"
    />

    <div class="card__container">
        <div class="card one">
            <div class="data">
                <h3 class="title">
                    Nuevas Facturas
                </h3>
                <span>{{ facturasFiltradas.length | number }}</span>
                <p class="date">
                    {{ today | date:'MMMM yyyy' }}
                </p>
            </div>

            <div class="icon__border">
                <div class="content">
                    <i class="ri-file-list-2-line"></i>
                </div>
            </div>
        </div>
        <div class="card two">
            <div class="data">
                <h3 class="title">
                    Recibos Generados
                </h3>
                <span>{{ reciboFiltrados.length | number }}</span>
                <p class="date">
                    {{ today | date:'MMMM yyyy' }}
                </p>
            </div>

            <div class="icon__border">
                <div class="content">
                    <i class="ri-file-line"></i>
                </div>
            </div>
        </div>
        <div class="card three">
            <div class="data">
                <h3 class="title">
                    Total Usuarios
                </h3>
                <span>{{ usuarios?.total | number }}</span>
                <p class="date">
                    {{ today | date:'MMMM yyyy' }}
                </p>
            </div>

            <div class="icon__border">
                <div class="content">
                    <i class="ri-user-line"></i>
                </div>
            </div>
        </div>

        <div class="card four">
            <doughnut-chart 
                headerTitle="Ingresos / Gastos"
                [labels]="labelChart"
                [data]="financialData"
                [years]="yearSelected"
                (yearSelected)="onYearSelected($event)"
                class="chart"/>
            <div class="data">
                <span>
                    <i class="ri-refund-2-line icon__ingreso"></i>
                    Ingreso: {{ financialData.data1 }} Gs
                </span>
                <span>
                    <i class="ri-refund-2-line icon__egreso"></i>
                    Egreso: {{ financialData.data2 }} Gs
                </span>
            </div>
        </div>
        <div class="card five">
            <line-chart 
                class="chart"
                headerTitle="Consumo de agua"
                [realData]="realDataConsumo"
                [years]="years"
                [labelData]="labelDataConsumo"/>
        </div>
    </div>

</div>