<menu-superior 
    itemName="Historial"
    userName="Jorge Fernández"
    userGmail="jorge@gmail.com"
    avatarUrl="https://res.cloudinary.com/die4hw70e/image/upload/v1728483693/samu-img/user_avatar_sirmyv.jpg"
/>

<div class="historial">
    <section class="header">
        <div class="tabs">
            <li>
                <a 
                    routerLink="comprobantes" 
                    routerLinkActive="active">
                    Recibos
                </a>
            </li>
            <li>
                <a 
                    routerLink="facturas"
                    routerLinkActive="active">
                    Facturas
                </a>
            </li>
        </div>
        <div class="user__data">
            <h2 class="user__name">Pedro Díaz</h2>
            <p>Factura 31/10/2024</p>
        </div>
        <div class="filter">
            <span class="title">Filtrar</span>
            <button class="calendar">
                <i class="ri-calendar-2-line"></i>
            </button>
            <button class="order">
                <i class="ri-arrow-up-down-fill"></i>
            </button>
        </div>
    </section>
    <section class="historial__page">
        <router-outlet/>
    </section>
</div>

