<div 
    class="container"
    [ngClass]="{'sidebar-collapsed': openSidebar}">
    <div class="sidebar">
        <button 
            class="menu__btn"
            (click)="toggleSidebar()">
            <i class="icon ri-arrow-left-s-line"></i>
        </button>

        <div class="logo__container">
            <div class="logo__img">
                <img src="https://res.cloudinary.com/die4hw70e/image/upload/v1728393718/samu-img/logo-junta-de-saneamiento-2_di3y6j.png" alt="Img Logo">
            </div>
            <div class="logo__text">
                <h2>Junta de Saneamiento</h2>
                <span>San Isidro</span>
            </div>
        </div>

        <ul class="menu">
            @for (item of menuItems; track $index) {
                <li
                    class="menu__item"
                    [ngClass]="{'active': item.active}">
                    <a 
                    href="javascript:void(0);" 
                    class="item__link"
                    (click)="itemActive(item)">
                        <i class="icon {{ item.icon }}"></i>
                        <span class="text">{{ item.title | titlecase }}</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <main class="main">
        <div class="main__content">
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
        </div>
    </main>
</div>