$white: #FFFFFF;
$white-gray: #DADEF9;
$blue-rgba: rgba(0, 23, 146, .10);
$color-blue: rgba(4, 100, 243, .75);
$color-black: #5C5C5C;
$color-gray: #979696;
$color-gray-light: #EDEFFF;


.container {
    position: relative;
    width: 100%;
    min-height: 90vh;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 350px 500px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    column-gap: 30px;

    .form {
        background-color: $white;
        border-radius: 20px;
    }

    .form {
        width: 100%;
        min-height: 200px;
        padding: 20px;
        z-index: 100;

        h2 {
            font-size: 16px;
            font-weight: 500;
            color: $color-black;
            text-align: center;
            margin-bottom: 15px;
        }

        .input__group {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

    }

    .btn__generar {
        width: 100%;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
}

@media (max-width: 1028px) {
    .container {
        row-gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form {
            width: 350px;
        }

        .comprobante {
            width: 500px;
        }

    }
}

@media (max-width: 660px) {
    .container .comprobante {
        width: 350px;

    }
}