$white: #FFFFFF;
$blue-rgba: rgba(0, 23, 146, .10);


.container {
    width: 100%;
    min-height: 90vh;
    border: 1px solid;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    column-gap: 20px;

    .form, .comprobante {
        background-color: $white;
        border-radius: 20px;
        box-shadow: 0px 15px 20px $blue-rgba;
    }

    .form {
        width: 100%;
        min-height: 250px;
    }

    .comprobante {
        width: 100%;
        min-height: 300px;
    }
}