<menu-superior 
    itemName="nuevo comprobante"
    userName="Jorge Fernández"
    userGmail="jorge@gmail.com"
    avatarUrl="https://res.cloudinary.com/die4hw70e/image/upload/v1728483693/samu-img/user_avatar_sirmyv.jpg"
/>

<div class="modal">
    <div class="modal__content">
        <div class="modal__header">
            <a class="btn__prev">
                <i class="ri-arrow-left-line"></i>
            </a>
            <h2>Imprimir Comprobante</h2>
        </div>
        <div class="modal__body">
            <div class="modal__comprob">
                <shared-comprobante/>
            </div>
        </div>
        <div class="btn">
            <button class="btn__imprimir">
                Imprimir
                <i class="ri-printer-line"></i>
            </button>
        </div>
    </div>
</div>