<div class="container">
    <div class="header">
        <div class="img__fondo"></div>
        <h2 class="header__title">
            Lectura del Medidor
        </h2>
    </div>

    <div class="user__container">
        <h2 class="title">
            Lista de usuarios
        </h2>

        <search-input 
            (userFoud)="onUsersFound($event)"
            placeholder="Ingrese nombre..."/>

        <ul 
            class="list__group"
            cdkDropList
            (cdkDropListDropped)="drop($event)">

            @for (user of users; track $index) {
                <user-item
                    [name]="user.nombre + ' ' + user.apellido | titlecase"
                    [address]="user.direccion"
                    [srcImg]="user | photo"
                    [routerLink]="['/medidor/user/', user._id]"
                    [userId]="user._id"
                    cdkDrag/>
            } @empty {
                <h3 style="text-align: center;">Usuario no encontrado.</h3>
            }
        </ul>
    </div>
</div>