<div class="lectura__container">
    <header class="header__container">
        <div class="btn__previous">
            <a (click)="onBack()">
                <i class="ri-arrow-left-line"></i>
            </a>
        </div>

        @if(user){
            <h2 class="name">
                {{ user.nombre | titlecase }}
            </h2>

            <user-photo 
            [src]="user | photo"
            [alt]="user.nombre | titlecase"/>
        }

    </header>

    <main class="lectura__body">
        <shared-input 
            type="number"
            pleaceholder="Lectura actual..."
            (inputValue)="haddleValue($event)"/>
        @if(!inputValid){
            <span class="input__error">
                La lectura actual no puede ser menor que la anterior.
            </span>
        }

        @if(mostrarGrafico){
            <div class="body__content">
                <div class="circle__progress">
                    @if(lecturaData){
                        <circle-progress
                            [value]="lecturaData.consumoActual" 
                            [maxValue]="lecturaData.ultimaLectura.limite"
                            [diaConsumo]="lecturaData.diferenciaEnDias"/>
                    }
                </div>

                <div class="actions__container">
                    @for (card of cards; track $index) {
                        <div class="card">
                            <a class="btn__icon">
                                <i 
                                    [class]="card.icon!"
                                    (click)="card.onAction!()">
                                </i>
                            </a>
    
                            <h3>
                                {{ card.title }}
                            </h3>
                            <span [class]="card.className">
                                {{ card.value| number }} L
                            </span>
                            <p>
                                {{ card.fecha| date }}
                            </p>
                        </div>
                    }
                </div>
            </div>
    
            <button class="btn__factura">
                Generar Factura
                <i class="ri-newspaper-line"></i>
            </button>
        } @else {
            <h3>Ingrese la lectura para calcular el consumo del usuario</h3>
        }

    </main>

</div>

@if(openModal){
    <app-modal titleModal="Title" (closeModal)="onCloseModal()">
        <h1>Hola</h1>
    </app-modal>
}