<div class="historial">
    <section class="header">
        <div class="tabs">
            <li>
                <a 
                    routerLink="comprobantes" 
                    routerLinkActive="active">
                    Recibos
                </a>
            </li>
            <li>
                <a 
                    routerLink="facturas"
                    routerLinkActive="active">
                    Facturas
                </a>
            </li>
        </div>
        <div class="user__data">
            <h2 class="user__name">{{ userFullName | titlecase }}</h2>
            <p>Fecha {{ today | date:'dd-MM-yyy' }}</p>
        </div>
        <div class="filter">
            <div class="dropdown">
                <button class="dropdown__button" (click)="toggleDropdown('year')">
                  {{ selectedYear || 'Seleccionar Año' }}
                  <i class="ri-arrow-down-s-line"></i>
                </button>
                <ul class="dropdown__menu" [class.active]="dropdownOpen === 'year'">
                    @for (year of availableYears; track $index) {
                        <li (click)="filterByYear(year)">{{ year }}</li>
                    }
                </ul>
              </div>
            <button class="order">
                <i class="ri-arrow-up-down-fill"></i>
            </button>
        </div>
    </section>
    <section class="historial__page">
        <router-outlet/>
    </section>
</div>