<section 
    class="comprobante">
    <span class="nro__factura">N°: 001</span>
    <div class="logo">
        <img class="logo__img" src="https://res.cloudinary.com/die4hw70e/image/upload/v1722607548/samples/samu/logo-junta-de-saneamiento-2_qynfno.png" alt="logo img">
        <h2 class="title">Junta de Saneamiento</h2>
        <p class="address">San Isidro</p>
        <p>Calle san Isidro, Coronel Bogado</p>
        <p>Cel: +5959586287790</p>
    </div>
    @if(comprobante()){
        <div class="data">
            <h3 class="title">Recibo de dinero</h3>
            <div class="data__user">
                <h2>Usuario</h2>
                <h3>Nombre:</h3>
                <p>{{ comprobante().userID.nombre| titlecase }}</p>
                <h3>CI:</h3>
                <p>{{ comprobante().userID.ci| number }}</p>
                <h3>Dirección:</h3>
                <p>{{ comprobante().userID.direccion| titlecase }}</p>
            </div>
            <div class="data__factura">
                <h2>Factura</h2>
                <h3>Nro</h3>
                <h3>Consumo</h3>
                <h3>Precio</h3>
                <h3>IVA</h3>
                <h3>Fecha</h3>
                <h3>Total</h3>
                <!-- facturas pendientes -->
                 @for (item of comprobante().facturas; track $index) {
                     <p>{{ item.nroFactura | number }}</p>
                     <p>{{ item.consumo.cantidad | number }} Lts</p>
                     <p>{{ item.consumo.precio | number }} GS</p>
                     <p>{{ item.consumo.iva | number }} %</p>
                     <p>{{ item.fechaEmision | date:'dd-MM-yyy' }}</p>
                     <p>{{ item.cuentaTotal | number }} GS</p>
                 }
            </div>
            <div class="data__servicio">
                <h2>Servicio</h2>
                <h3>Servicio:</h3>
                <p>{{ comprobante().servicio | titlecase }}</p>
                <h3>Forma de Pago:</h3>
                <p>{{ comprobante().formaPago | titlecase }}</p>
                <h3>Importe del usuario:</h3>
                <p>{{ comprobante().importe | number }} GS</p>
            </div>
            <div class="fecha">
                <h3>Fecha de emisión:</h3>
                <p>{{ comprobante().fechaEmision| date:'dd-MM-yyy' }}</p>
            </div>
            <div class="importe">
                <h3>A Pagar</h3>
                <p>{{ comprobante().total | number }} GS</p>
            </div>
            <div class="firma">
                <div class="tesorera">
                    <h3>{{ comprobante().tesorero }}</h3>
                    <p>Tesorera</p>
                </div>
                <div class="cello">
                    <h3>Cello de la Junta</h3>
                </div>
            </div>
        </div>
    }
</section>