<div class="skill" ngc>
    <div class="outer">
        <div class="inner">
          <h2 class="number" [ngClass]="{'exede': value > maxValue}">
            {{ (value / maxValue * 100) | number: '1.0-0' }}%
          </h2>
          <span class="day">
              {{ diaConsumo }} días
          </span>
        </div>
      </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="220px" height="220px">
      <defs>
        <linearGradient id="GradientColor">
          <stop offset="0%" stop-color="#3793FF" />
          <stop offset="100%" stop-color="#673ab7" />
        </linearGradient>
        <linearGradient id="GradientColorRed">
          <stop offset="0%" stop-color="rgba(228, 5, 45, .83)" />
          <stop offset="100%" stop-color="rgba(136, 0, 0, .8)" />
        </linearGradient>
      </defs>
      <circle cx="110" cy="110" r="100" stroke-linecap="round" 
      [attr.stroke-dasharray]="strokeDasharray"
      [attr.stroke-dashoffset]="strokeDashoffset"
      [ngClass]="{'exede': value > maxValue}"/>
    </svg>
  </div>