<menu-superior 
    itemName="Notificaciones"
    userName="Jorge Fernández"
    userGmail="jorge@gmail.com"
    avatarUrl="https://res.cloudinary.com/die4hw70e/image/upload/v1728483693/samu-img/user_avatar_sirmyv.jpg"
/>

<div class="notification__container">
    <div class="users">
        <user-list 
            (userClicked)="onClickValue($event)"
        />
    </div>

    <div class="messages">
        <message [messages]="messages" [user]="user"/>
    </div>

    <div class="btn__create">
        <a routerLink="/dashboard/notificaciones/nuevo/reunion">
            <i class="ri-add-fill"></i>
        </a>
    </div>
</div>