<div class="table">
    <section class="table__header">
        <h2 class="title">
            Lista de usuarios
        </h2>
        <app-input
            [icon]="true"
            placeholder="Buscar usuario..."
            type="text"
            [animationHover]="true"
            class="input"
        />
        <div class="filter">
            <button class="btn active">
                Activos
                <span></span>
            </button>
            <button class="btn">
                Inactivos
                <span></span>
            </button>
            <button class="btn">
                <i class="ri-sort-alphabet-asc"></i>
            </button>
        </div>
    </section>
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th class="thead__id">ID</th>
            <th>Comp</th>
            <th>Usuario</th>
            <th>CI</th>
            <th>Dirección</th>
            <th>Lectura</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          @for (row of tableData; track $index) {
            <tr>
                <td>{{ row.id }}</td>
                <td>
                    <i class="icon ri-checkbox-circle-line"></i>
                </td>
                <td class="user">
                    <div class="avatar">
                        <img [src]="row.avatar" alt="avatar">
                    </div>
                    <h2 class="name">
                        {{ row.name }}
                    </h2>
                </td>
                <td>{{ row.ci }}</td>
                <td>{{ row.address }}</td>
                <td>{{ row.lectura }}</td>
                <td>
                    <p class="status" 
                        [ngClass]="row.status">
                        {{ row.status | titlecase }}
                    </p>
                </td>
                <td>
                    <a 
                        class="btn__action"
                        [routerLink]="['/dashboard/comprobante/', row.id]">
                        Generar
                        <i class="ri-file-list-line"></i>
                    </a>
                </td>
            </tr>
          }
        </tbody>
      </table>
    </section>
    <section class="table__footer">
      <div class="btns">
          <button class="btn btn__prev">
              <i class="ri-arrow-left-double-line"></i>
          </button>
          <button class="active">1</button>
          <button>2</button>
          <button>3</button>
          <button>...</button>
          <button>10</button>
          <button class="btn btn__next">
              <i class="ri-arrow-right-double-line"></i>
          </button>
      </div>
  </section>
  </div>