$dark: #5C5C5C;
$dark-light: #979696;
$white: #FFFFFF;
$blue-rgba: rgba(0, 23, 146, .10);
$blue: #0464F3;
$white-gray: #DADEF9;
$linear-gradient-blue: rgba(129, 85, 254, 1), rgba(4, 33, 185, 1) 100%;

:host {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table {
    width: 100%;
    height: 90vh;
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 15px 20px $blue-rgba;
    overflow: hidden;
  
    &__header {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $white-gray;
  
      .title {
        font-size: 20px;
        font-weight: 500;
        color: $dark;
      }

      .input__group {
        width: 35%;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 20px;
        height: 35px;
        padding: 0 15px;
        box-shadow: 0 10px 15px $blue-rgba;
        border: 1px solid #D9E3FE;
        transition: transform .3s ease-in-out;
        cursor: pointer;

        input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: 'Poppins';
            font-size: 12px;
            font-weight: 300;
            color: $dark-light;
            text-transform: capitalize;
        }

        .icon {
            font-size: 20px;
            color: $dark-light;
        }

        &:hover {
            transform: scale(1.05);
            outline: 1px solid #a3bbfd;
            transition: transform .3s ease-in-out;

            .icon {
                color: $blue;
                opacity: .8;
            }
        }
      }

      .filter {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                position: relative;
                padding: 8px 30px;
                background-color: transparent;
                border: none;
                border-radius: 20px;
                color: $dark-light;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    border: 1px solid $white;
                    display: none;
                }

                i {
                    font-size: 20px;

                }
            }
            .btn.active {
                background-color: $blue;
                color: $white-gray;
                box-shadow: 0 10px 15px $blue-rgba;

                span {
                    display: block;
                    background-color: #00D4A2;
                }
            }

            .btn:not(.btn.active):hover {
                color: $dark;
            }
        
        }

    }
  
    &__body {
        width: 95%;
        max-height: calc(90% - 8rem);
        background-color: #FFFB;
        margin: .8rem auto;
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: auto;
        overflow: overlay;
    
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #0004;
            visibility: hidden;
        }
    
        &:hover::-webkit-scrollbar-thumb {
            visibility: visible;
        }
    }

    table {
      width: 100%;
      color: $dark;
      border-collapse: collapse;
  
  
      th, td {
          padding: 14px;
          text-align: left;
      }
  
      thead th {
          position: sticky;
          top: 0;
          left: 0;
          font-size: 14px;
          font-weight: 400;
          background-color: $white;
          color: $dark-light;
          z-index: 1000;
      }
  
      tbody {
          tr td {
              font-size: 12px;
              font-weight: 400;
              border-collapse: collapse;
  
              .avatar {
                      position: relative;
                      width: 50px;
                      height: 50px;
                      padding: 2px;
                      background-image: linear-gradient(145deg, $linear-gradient-blue);
                      border-radius: 50%;
                      box-shadow: 0 8px 15px $blue-rgba;
                      overflow: hidden;
  
                      img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          vertical-align: middle;
                          border-radius: 50%;
                      }
                  }
  
              &.user {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  flex-wrap: nowrap;
                  column-gap: 8px;
  
                  .name {
                      font-size: 12px;
                      font-weight: 500;
                      color: $dark;
                  }
              }
  
              .icon {
                  font-size: 25px;
                  font-weight: 400;
                  color: #00D4A2;
              }
  
              .btn__action {
                  padding: 8px 20px;
                  background-color: $blue;
                  border-radius: 20px;
                  color: $white-gray;
                  font-size: 12px;
                  font-weight: 400;
                  text-align: center;
                  box-sizing: 0 5px 10px $blue-rgba;
                  cursor: pointer;
                  border: none;
                  display: flex;
                  column-gap: 5px;
                  transition: opacity .3s ease-in-out;
  
  
                  &:hover {
                      opacity: .8;
                      transition: opacity .3s ease-in-out;
                  }
              }
          }
          tr {
              --delay: .1s;
              transition: all .5s ease-in-out var(--delay), background-color 0s;
          
          
              &.hide {
                  opacity: 0;
                  transform: translateX(100%);
              }
          
              &:hover {
                  background-color: $white-gray;
                  transition: background-color 0.2s ease-in-out;
              }
          
              td, td p, td img {
                  transition: all .2s ease-in-out;
              }
          
              &.hide td,
              &.hide td p {
                  padding: 0;
                  font: 0 / 0 sans-serif;
                  transition: all .2s ease-in-out .5s;
              }
          
              &.hide td img {
                  width: 0;
                  height: 0;
                  transition: all .2s ease-in-out .5s;
              }
          
              .status {
                  padding: 5px 15px;
                  border-radius: 20px;
                  text-align: center;
              
                  &.activo {
                      background-color: #86e49d;
                      color: #006b21;   
                  }
              
                  &.inactivo {
                      background-color: #d893a3;
                      color: #b30021;
                  }
              }
  
          }
  
      }
    }
    
    .table__footer {
        width: 100%;
        padding: 10px 20px;
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        button:not(.btn) {
            width: 35px;
            height: 28px;
            background-color: $white;
            font-size: 12px;
            font-weight: 400;
            color: $dark;
            margin: 0 5px;
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: 0 10px 15px $blue-rgba;
            text-align: center;
            cursor: pointer;
            transition: opacity .3s ease-in-out;
    
            &:hover:not(.active) {
                opacity: .7;
                transition: opacity .3s ease-in-out;
            }
        }
    
        button.active {
            // background-image: linear-gradient(145deg, $linear-gradient-blue);
            background-color: $blue;
            color: $white;
            transition: all .2s ease-in-out;
        }
    
        .btn {
            width: 35px;
            height: 28px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 25px;
            font-weight: 500;
            color: $dark;
            transition: opacity .3s ease-in-out;
    
    
            &:hover {
                opacity: .7;
                transition: opacity .3s ease-in-out;
            }
        }
        .btn.btn__prev {
            margin-right: 20px;
        }
        .btn.btn__next {
            margin-left: 20px;
        }
    
    }
  }

@media(max-width: 970px) {
    .table {
        width: 80vw;

        .table__header {
            .title {
                font-size: 16px;
            }
            .input__group {
                width: 25%;
            }

            .filter button {
                padding: 8px 20px;
            }

        }
    }
}

@media(max-width: 720px) {
    .table .table__header {
        .input__group {
            width: 30%;
        }

        .filter {
            display: none;
        }
    }
}

  
  
  
  