<div class="factura__container">
    @for (item of cardData; track $index) {
        <a 
            (click)="openModal(item.id!, item.nro)"
            class="btn__item">
            <card [cardData]="item"/>
        </a>
    }
</div>

@if (modal) {
    <app-modal 
        titleModal=""
        (closeModal)="closeModal($event)"
        class="modal">
        <div class="factura">
            <app-factura 
                [factura]="facturaDetail"
                [facturasPendientes]="facturaPendientes"/>
        </div>
    </app-modal>
    
}
