<div class="factura__container">
    <div class="factura__header">
        <a class="btn__previus">
            <i class="ri-arrow-left-line"></i>
        </a>
        <h2 class="factura__title">
            Generar Factura
        </h2>
    </div>
    <div class="factura__content">
        <!-- logo de la junta de saneamiento -->
        <div class="factura__logo">
            <div class="logo">
                <div class="logo__imagen">
                    <img 
                        src="https://res.cloudinary.com/die4hw70e/image/upload/v1722607548/samples/samu/logo-junta-de-saneamiento-2_qynfno.png" 
                        alt="Img Logo">

                </div>
                <div class="nombre">
                    <h2>Junta de Saneamiento</h2>
                    <h3>San Isidro</h3>
                </div>
            </div>
            <div class="numero__factura">
                <span>N°: 01</span>
            </div>
        </div>

        <div class="factura__data-container">
            <h2 class="factura__title">
                Factura
            </h2>

            <div class="factura__data">
                <!-- información del usuario -->
                 <div class="data__item">
                    <div class="title">
                        <h2>Usuario</h2>
                    </div>

                    <div class="item__container user">
                        <h3>
                            Nombre:
                        </h3>
                        <p>
                            Samuel Melgarejo
                        </p>
                        <h3>
                            CI:
                        </h3>
                        <p>
                            5.914.257
                        </p>
                        <h3>
                            Dirección:
                        </h3>
                        <p>
                            San Isidro, Coronel Bogado
                        </p>
                    </div>

                 </div>
                <!-- información de consumo -->
                <div class="data__item">
                    <div class="title">
                        <h2>Consumo</h2>
                    </div>

                    <div class="item__container">
                        <h3>
                            Cantidad:
                        </h3>
                        <p>
                            1.000L
                        </p>
                        <span>
                            28/07/2024
                        </span>
                        <h3>
                            IVA:
                        </h3>
                        <p>
                            1.000
                        </p>
                        <span>
                            GS
                        </span>
                        <h3>
                            Total:
                        </h3>
                        <p>
                            10.000
                        </p>
                        <span>
                            GS
                        </span>
                    </div>

                 </div>
                <!-- información de deudas pendientes -->
                <div class="data__item">
                    <div class="title">
                        <h2>Pendiente</h2>
                    </div>

                    <div class="item__container">
                        <h3>
                            Cantidad:
                        </h3>
                        <p>
                            1.500L
                        </p>
                        <span>
                            28/06/2024
                        </span>
                        <h3>
                            IVA:
                        </h3>
                        <p>
                            1.000
                        </p>
                        <span>
                            GS
                        </span>
                        <h3>
                            Total:
                        </h3>
                        <p>
                            20.000
                        </p>
                        <span>
                            GS
                        </span>
                    </div>

                 </div>

                 <!-- fecha de Emisión y vencimiento -->
                 <div class="factura__date">
                    <div class="emsion">
                        <p>Emisión:</p>
                        <span>28/07/2024</span>
                    </div>
                    <div class="vencimiento">
                        <p>Vence:</p>
                        <span>28/07/2024</span>
                    </div>
                 </div>

                 <!-- total a pagar -->
                 <div class="cuenta">
                    <h4>A credito</h4>
                    <span>Total: 22.000 GS</span>
                 </div>
            </div>

        </div>

    </div>   
    <div class="save__factura">
        <button class="btn__save">
            Guardar
            <i class="ri-save-line"></i>
        </button>
    </div>
</div>