<div class="factura__container">
    <div class="factura__header">
        <a 
            class="btn__previus"
            (click)="previous()">
            <i class="ri-arrow-left-line"></i>
        </a>
        <h2 class="factura__title">
            Generar Factura
        </h2>
    </div>
    <div class="factura__content">
        <!-- logo de la junta de saneamiento -->
        <div class="factura__logo">
            <div class="logo">
                <div class="logo__imagen">
                    <img 
                        src="https://res.cloudinary.com/die4hw70e/image/upload/v1722607548/samples/samu/logo-junta-de-saneamiento-2_qynfno.png" 
                        alt="Factura Logo">

                </div>
                <div class="nombre">
                    <h2>Junta de Saneamiento</h2>
                    <h3>San Isidro</h3>
                </div>
            </div>
            <div class="numero__factura">
                @if(ultimaFactura){
                    <span>N°: {{ ultimaFactura.nroFactura + 1 }}</span>
                }
            </div>
        </div>

        <div class="factura__data-container">
            <h2 class="factura__title">
                Factura
            </h2>

            <div class="factura__data">
                @if(ultimaFactura){
                    <!-- información del usuario -->
                     <div class="data__item">
                        <div class="title">
                            <h2>Usuario</h2>
                        </div>
                        <div class="item__container user">
                            <h3>Nombre:</h3>
                            <p>{{ ultimaFactura.userID.nombre + ' ' + ultimaFactura.userID.apellido | titlecase }}</p>
                            <h3>CI:</h3>
                            <p>{{ ultimaFactura.userID.ci | number }}</p>
                            <h3>Dirección:</h3>
                            <p>{{ ultimaFactura.userID.direccion | titlecase }}</p>
                        </div>
                     </div>
                     <!-- información de consumo -->
                     <div class="data__item">
                         <div class="title">
                            <h2>Consumo 
                                 <!-- <small [ngClass]="{'consumo__required': consumo}">*</small> -->
                            </h2>
                            <button 
                                class="btn"
                                (click)="abrirModal()">
                                <i class="ri-pencil-line"></i>
                            </button>
                         </div>
                         <div class="item__container">
                             <h3> Cantidad: </h3>
                             <p>{{ lecturaConsumo | number }}</p>
                             <span>{{ ultimaFactura.consumo.fecha | date:'dd/MM/yyyy' }}</span>
                             <h3>IVA:</h3>
                             <p>{{ ultimaFactura.consumo.iva | number }}</p>
                             <span>GS</span>
                             <h3>Precio:</h3>
                             <p>{{ ultimaFactura.consumo.precio | number }}</p>
                             <span>GS</span>
                             <h3>A pagar:</h3>
                             <p>{{ getCostoConsumo | number }}</p>
                             <span>GS</span>
                         </div>
                    </div>
                }
                <!-- información de deudas pendientes -->
                <div class="data__item">
                    <div class="title">
                        <h2>Pendiente</h2>
                    </div>

                    <div class="table__container">
                        <!-- header -->
                        <h3>Factura</h3>
                        <h3>Cantidad</h3>
                        <h3>Fecha</h3>
                        <h3>IVA</h3>
                        <h3>Total</h3>
                        <!-- body -->
                         @for (factura of facturaPendiente; track $index) {
                            <span>{{ factura.nroFactura | number }}</span>
                            <p>{{ factura.consumo.cantidad | number }} L</p>
                            <span>{{ factura.fechaEmision | date:'dd/MM/yyy' }}</span>
                            <p>{{ factura.consumo.iva | number }} ₲</p>
                            <p>{{ factura.cuentaTotal | number }} ₲</p>
                        }
                        <h3 class="deuda__total">Pendiente: 
                            <span>{{ getCuentaPiendiente | number }} GS</span>
                        </h3>
                    </div>

                </div>

                <div class="factura__date">
                   <div class="emsion">
                       <p>Emisión:</p>
                       <span>{{ fechaEmision | date:'dd/MM/yyy' }}</span>
                   </div>
                   <div class="vencimiento">
                       <p>Vence:</p>
                       <span>{{ venceFecha | date:'dd/MM/yyy' }}</span>
                   </div>
                </div>
                 <!-- total a pagar -->
                 <div class="cuenta">
                    <h4>A credito</h4>
                    <span>Total: {{ getCostoConsumo + getCuentaPiendiente | number }} GS</span>
                 </div>
            </div>

        </div>

    </div>   
    <div class="save__factura">
        <!-- boton guardar -->
        <app-button 
            (clicked)="onSubmit()" 
            urlRedirect="medidor/users"
            buttonText="Guardar"
            buttonIcon="ri-save-line"/>
    </div>
</div>

@if(openModal){
    <app-modal 
        (closeModal)="onCloseModal()"
        titleModal="Establecer">
        <form [formGroup]="myForm">
            <div class="modal__content">
                <div class="input">
                    <label>Precio:</label>
                    <input 
                        type="number"
                        formControlName="precio">
                    <span>
                        <i class="ri-money-dollar-circle-line"></i>
                    </span>
                </div>
                <div class="input">
                    <label>IVA:</label>
                    <input 
                        type="number"
                        formControlName="iva">
                    <span>
                        <i class="ri-percent-line"></i>
                    </span>
                </div>
                <div class="input">
                    <label>Vence en:</label>
                    
                    <input 
                        type="number"
                        formControlName="venceEn">

                    <span>
                        Días
                    </span>
                </div>
            </div>
            <div class="btn__container">
                <app-button
                    buttonText="Actualizar"
                    buttonIcon="ri-restart-line"
                    (clicked)="updateFacturaData()"
                    [urlRedirect]="navigateUrl"/>
            </div>
        </form>
    </app-modal>
}